<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tp1 -->
      <package
            uri="http://www.example.org/tp1"
            class="idm.tp1.Tp1Package"
            genModel="model/tp1.genmodel"/>
   </extension>

</plugin>
